Code/node-red-data/node-red-flow.json
[
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "IoTail Monitoring",
    "disabled": false,
    "info": ""
  },
  {
    "id": "77f1a7ed.1c4c58",
    "type": "mqtt in",
    "z": "f6f2187d.f17ca8",
    "name": "IoTail Sensors",
    "topic": "IoTail/kennel1/sensors/#",
    "qos": "2",
    "datatype": "json",
    "broker": "b029be69.2a61",
    "nl": false,
    "rap": true,
    "inputs": 0,
    "x": 130,
    "y": 180,
    "wires": [["c12345.split"]]
  },
  {
    "id": "c12345.split",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "Split Data",
    "func": "if (msg.topic === \"IoTail/kennel1/sensors/motion\") {\n    let motionValue = msg.payload.e[0].v ? 1 : 0;\n    return [\n        null,\n        null,\n        { payload: motionValue }\n    ];\n}\nif (msg.topic === \"IoTail/kennel1/sensors/temp_humid\"){\n    return [\n        { payload: msg.payload.e[0].v },\n        { payload: msg.payload.e[1].v },\n        null\n    ];\n}",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 180,
    "wires": [["temp.chart"], ["humid.chart"], ["motion.chart"]]
  },
  {
    "id": "temp.chart",
    "type": "ui_chart",
    "z": "f6f2187d.f17ca8",
    "name": "Temperature",
    "group": "g1",
    "order": 1,
    "width": "0",
    "height": "0",
    "label": "Temperature (°C)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "15",
    "ymax": "30",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#ff7f0e",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 510,
    "y": 120,
    "wires": [[]]
  },
  {
    "id": "humid.chart",
    "type": "ui_chart",
    "z": "f6f2187d.f17ca8",
    "name": "Humidity",
    "group": "g2",
    "order": 2,
    "width": "0",
    "height": "0",
    "label": "Humidity (%)",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "20",
    "ymax": "80",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 500,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "motion.chart",
    "type": "ui_chart",
    "z": "f6f2187d.f17ca8",
    "name": "Motion",
    "group": "g3",
    "order": 3,
    "width": "0",
    "height": "0",
    "label": "Motion Detection",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "step",
    "nodata": "",
    "dot": false,
    "ymin": "-0.1",
    "ymax": "1.1",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#2ca02c",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000",
      "#000000"
    ],
    "outputs": 1,
    "useDifferentColor": false,
    "className": "",
    "x": 500,
    "y": 240,
    "wires": [[]]
  },
  {
    "id": "b029be69.2a61",
    "type": "mqtt-broker",
    "name": "IoTail Broker",
    "broker": "mqtt.eclipseprojects.io",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "compatmode": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "g1",
    "type": "ui_group",
    "name": "Temperature",
    "tab": "t1",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "g2",
    "type": "ui_group",
    "name": "Humidity",
    "tab": "t1",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "g3",
    "type": "ui_group",
    "name": "Motion",
    "tab": "t1",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "t1",
    "type": "ui_tab",
    "name": "IoTail Monitor",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
